# Dependencies
markdown:         kramdown
highlighter:      rouge

# Permalinks
permalink:        pretty


# Setup
title:            Kevin Brodie
tagline:          'Stochastic ramblings'
description:      'A blog documenting the many things I attempt to learn, from French patisseries to applied mathematics and everything between'
url:              http://kevinbrodie.github.io
baseurl:          /

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/poole/hyde
